
@{
    ViewBag.Title = "Index";
}


<h3 class="text-center mb35 mt5 fw400">Market 1</h3>

<div class="col-md-12">
    <div class="bs-component">
        <div class="panel">
            <div class="panel-heading">
                <ul class="nav panel-tabs-border panel-tabs panel-tabs-left">
                    <li class="active">
                        <a href="#tab1_1" data-toggle="tab">Stores</a>
                    </li>
                    <li>
                        <a href="#tab1_2" data-toggle="tab">RQ Vs Cash</a>
                    </li>
                    <li>
                        <a href="#tab1_3" data-toggle="tab">Debit and Credit</a>
                    </li>
                    <li>
                        <a href="#tab1_4" data-toggle="tab">Overhead Expense</a>
                    </li>
                    <li>
                        <a href="#tab1_5" data-toggle="tab">Overhead Salaries</a>
                    </li>
                    <li>
                        <a href="#tab1_6" data-toggle="tab">Summary</a>
                    </li>
                    <li>
                        <a href="#tab1_7" data-toggle="tab">Profit & Lose</a>
                    </li>
                </ul>
            </div>
            <div class="panel-body">
                <div class="tab-content pn br-n">
                    <div id="tab1_1" class="tab-pane active">
                        <div class="row">
                            <!-- Success Section -->
                            <div class="col-md-12">

                                <div class="alert alert-success hide" id="Addsuccess">
                                    <strong>Done!</strong> Store has been added successfully.
                                </div>


                            </div>





                            <!--Create New Market Button-->
                            <div class="col-md-12">
                                <div class="bs-component">
                                    <div class="panel">

                                        <div class="panel-body">
                                            <div class="tab-content pn br-n">
                                                <div id="tab1_1" class="tab-pane active">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            @Ajax.ActionLink("Create Store", "Create", null, new AjaxOptions() { UpdateTargetId = "modalDialog", InsertionMode = InsertionMode.Replace, OnComplete = "CreateStore" }, new { @class = "btn btn-link" })
                                                            <br />

                                                        </div>
                                                      
                                                    </div>
                                                    <div id="list" class="row">
                                                        @Html.Partial("StoreList")
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>




                            <!-- Modal -->
                            <div class="modal fade" id="modalDiv" role="dialog" aria-hidden="true">
                                <div class="modal-dialog" id="modalDialog">
                                    
                                </div>
                            </div>


                        </div>
                    </div>
                    <div id="tab1_2" class="tab-pane">
                        <div class="row">
                            <div class="col-md-4">
                                <img src="~/AppDesignComponents/assets/img/stock/2.jpg" class="img-responsive thumbnail mr25">
                            </div>
                            <div class="col-md-8">
                                <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.</p>
                            </div>
                        </div>
                    </div>
                    <div id="tab1_3" class="tab-pane">
                        <div class="row">
                            <div class="col-md-4">
                                <img src="~/AppDesignComponents/assets/img/stock/3.jpg" class="img-responsive thumbnail mr25">
                            </div>
                            <div class="col-md-8">
                                <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.</p>
                            </div>
                        </div>
                    </div>
                    <div id="tab1_4" class="tab-pane">
                        <div class="row">
                            <div class="col-md-4">
                                <img src="~/AppDesignComponents/assets/img/stock/1.jpg" class="img-responsive thumbnail mr25">
                            </div>
                            <div class="col-md-8">
                                <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.</p>
                            </div>
                        </div>
                    </div>
                    <div id="tab1_4" class="tab-pane">
                        <div class="row">
                            <div class="col-md-4">
                                <img src="~/AppDesignComponents/assets/img/stock/2.jpg" class="img-responsive thumbnail mr25">
                            </div>
                            <div class="col-md-8">
                                <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.</p>
                            </div>
                        </div>
                    </div>
                    <div id="tab1_5" class="tab-pane">
                        <div class="row">
                            <div class="col-md-4">
                                <img src="~/AppDesignComponents/assets/img/stock/3.jpg" class="img-responsive thumbnail mr25">
                            </div>
                            <div class="col-md-8">
                                <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.</p>
                            </div>
                        </div>
                    </div>
                    <div id="tab1_6" class="tab-pane">
                        <div class="row">
                            <div class="col-md-4">
                                <img src="~/AppDesignComponents/assets/img/stock/1.jpg" class="img-responsive thumbnail mr25">
                            </div>
                            <div class="col-md-8">
                                <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.</p>
                            </div>
                        </div>
                    </div>
                    <div id="tab1_7" class="tab-pane">
                        <div class="row">
                            <div class="col-md-4">
                                <img src="~/AppDesignComponents/assets/img/stock/3.jpg" class="img-responsive thumbnail mr25">
                            </div>
                            <div class="col-md-8">
                                <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>




<script>

    function SaveStore() {
        $("#modalDiv").modal('hide');
        $('.modal-body').find('input :not(input:last)').val('');
        $(".modal-body input").val("");
        $("#Addsuccess").removeClass("hide");
        $("#Addsuccess").fadeIn(3000);
        $("#Addsuccess").fadeOut(3000);
    }

    function CreateStore() {
        $(".modal-header").html("Add New Store <button class='btn btn-primary close ' data-dismiss='modal'>&times;</button>");
        $("#modalDiv").modal('show');
        $(".modal-footer").show();
        $(".modal-dialog").removeClass("modal-sm");
    }

</script>